In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
data = [['Skirt', 'Sneakers', 'Scarf', 'Pants', 'Hat'],

        ['Sunglasses', 'Skirt', 'Sneakers', 'Pants', 'Hat'],

        ['Dress', 'Sandals', 'Scarf', 'Pants', 'Heels'],

        ['Dress', 'Necklace', 'Earrings', 'Scarf', 'Hat', 'Heels', 'Hat'],

      ['Earrings', 'Skirt', 'Skirt', 'Scarf', 'Shirt', 'Pants']]

from mlxtend.preprocessing import TransactionEncoder
te=TransactionEncoder()
te_ary=te.fit(data).transform(data)    #Apply one-hot-encoding on our dataset
df=pd.DataFrame(te_ary, columns=te.columns_)  #Creating a new DataFrame from our Numpy array
df

,Dress,Earrings,Hat,Heels,Necklace,Pants,Sandals,Scarf,Shirt,Skirt,Sneakers,Sunglasses
0,False,False,True,False,False,True,False,True,False,True,True,False
1,False,False,True,False,False,True,False,False,False,True,True,True
2,True,False,False,True,False,True,True,True,False,False,False,False
3,True,True,True,True,True,False,False,True,False,False,False,False
4,False,True,False,False,False,True,False,True,True,True,False,False

In [2]:
from mlxtend.frequent_patterns import apriori
apriori(df, min_support=0.6)

   support itemsets
0      0.6      (2)
1      0.8      (5)
2      0.8      (7)
3      0.6      (9)
4      0.6   (5, 7)
5      0.6   (9, 5)

In [3]:
frequent_itemsets=apriori(df, min_support=0.6, use_colnames=True) #Instead of column indices we can use column names.
frequent_itemsets

   support        itemsets
0      0.6           (Hat)
1      0.8         (Pants)
2      0.8         (Scarf)
3      0.6         (Skirt)
4      0.6  (Scarf, Pants)
5      0.6  (Skirt, Pants)

In [4]:
from mlxtend.frequent_patterns import association_rules 
association_rules(frequent_itemsets,metric="confidence",min_threshold=0.7) # associate itemsets with confidence over 70%.

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Scarf),(Pants),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8
1,(Pants),(Scarf),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8
2,(Skirt),(Pants),0.6,0.8,0.6,1.00,1.2500,0.12,inf
3,(Pants),(Skirt),0.8,0.6,0.6,0.75,1.2500,0.12,1.6

In [5]:
from mlxtend.frequent_patterns import association_rules 
association_rules(frequent_itemsets,metric="lift",min_threshold=1.25)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Skirt),(Pants),0.6,0.8,0.6,1.0,1.25,0.12,inf

In [22]:
import pandas as pd
data1=pd.read_csv(r'C:\Users\ASUS\Downloads\Market_Basket_Optimisation.csv', header=None)
data1.head()

data1

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7496,butter,light mayo,fresh bread,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7497,burgers,frozen vegetables,eggs,french fries,magazines,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7498,chicken,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7499,escalope,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7500,eggs,frozen smoothie,yogurt cake,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
transactions = []
for i in range(0, 7501):
    transactions.append([str(data1.values[i,j]) for j in range(0, 20)])

transactions = np.array(transactions)

print(transactions.shape)

(7501, 20)

In [30]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
data = te.fit_transform(trans)
data = pd.DataFrame(data, columns = te.columns_)

In [31]:
data.head()

,asparagus,almonds,antioxydant juice,asparagus,avocado,babies food,bacon,barbecue sauce,black tea,blueberries,...,turkey,vegetables mix,water spray,white wine,whole weat flour,whole wheat pasta,whole wheat rice,yams,yogurt cake,zucchini
0,False,True,True,False,True,False,False,False,False,False,...,False,True,False,False,True,False,False,True,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,True,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False

In [32]:
data.columns.values

array([' asparagus', 'almonds', 'antioxydant juice', 'asparagus',
       'avocado', 'babies food', 'bacon', 'barbecue sauce', 'black tea',
       'blueberries', 'body spray', 'bramble', 'brownies', 'bug spray',
       'burger sauce', 'burgers', 'butter', 'cake', 'candy bars',
       'carrots', 'cauliflower', 'cereals', 'champagne', 'chicken',
       'chili', 'chocolate', 'chocolate bread', 'chutney', 'cider',
       'clothes accessories', 'cookies', 'cooking oil', 'corn',
       'cottage cheese', 'cream', 'dessert wine', 'eggplant', 'eggs',
       'energy bar', 'energy drink', 'escalope', 'extra dark chocolate',
       'flax seed', 'french fries', 'french wine', 'fresh bread',
       'fresh tuna', 'fromage blanc', 'frozen smoothie',
       'frozen vegetables', 'gluten free bar', 'grated cheese',
       'green beans', 'green grapes', 'green tea', 'ground beef', 'gums',
       'ham', 'hand protein bar', 'herb & pepper', 'honey', 'hot dogs',
       'ketchup', 'light cream', 'light mayo', 'low fat yogurt',
       'magazines', 'mashed potato', 'mayonnaise', 'meatballs', 'melons',
       'milk', 'mineral water', 'mint', 'mint green tea', 'muffins',
       'mushroom cream sauce', 'nan', 'napkins', 'nonfat milk', 'oatmeal',
       'oil', 'olive oil', 'pancakes', 'parmesan cheese', 'pasta',
       'pepper', 'pet food', 'pickles', 'protein bar', 'red wine', 'rice',
       'salad', 'salmon', 'salt', 'sandwich', 'shallot', 'shampoo',
       'shrimp', 'soda', 'soup', 'spaghetti', 'sparkling water',
       'spinach', 'strawberries', 'strong cheese', 'tea', 'tomato juice',
       'tomato sauce', 'tomatoes', 'toothpaste', 'turkey',
       'vegetables mix', 'water spray', 'white wine', 'whole weat flour',
       'whole wheat pasta', 'whole wheat rice', 'yams', 'yogurt cake',
       'zucchini'], dtype=object)

In [33]:
from mlxtend.frequent_patterns import apriori
apriori(data, min_support = 0.01, use_colnames = True)

      support                                      itemsets
0    0.020397                                     (almonds)
1    0.033329                                     (avocado)
2    0.010799                              (barbecue sauce)
3    0.014265                                   (black tea)
4    0.011465                                  (body spray)
..        ...                                           ...
510  0.011065       (ground beef, nan, mineral water, milk)
511  0.017064  (spaghetti, ground beef, nan, mineral water)
512  0.015731         (spaghetti, nan, mineral water, milk)
513  0.010265    (olive oil, nan, spaghetti, mineral water)
514  0.011465     (spaghetti, nan, mineral water, pancakes)

[515 rows x 2 columns]

In [34]:
frequent_itemsets = apriori(data, min_support = 0.05, use_colnames=True)
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))
frequent_itemsets

     support                         itemsets  length
0   0.087188                        (burgers)       1
1   0.081056                           (cake)       1
2   0.059992                        (chicken)       1
3   0.163845                      (chocolate)       1
4   0.080389                        (cookies)       1
5   0.051060                    (cooking oil)       1
6   0.179709                           (eggs)       1
7   0.079323                       (escalope)       1
8   0.170911                   (french fries)       1
9   0.063325                (frozen smoothie)       1
10  0.095321              (frozen vegetables)       1
11  0.052393                  (grated cheese)       1
12  0.132116                      (green tea)       1
13  0.098254                    (ground beef)       1
14  0.076523                 (low fat yogurt)       1
15  0.129583                           (milk)       1
16  0.238368                  (mineral water)       1
17  0.999867                            (nan)       1
18  0.065858                      (olive oil)       1
19  0.095054                       (pancakes)       1
20  0.071457                         (shrimp)       1
21  0.050527                           (soup)       1
22  0.174110                      (spaghetti)       1
23  0.068391                       (tomatoes)       1
24  0.062525                         (turkey)       1
25  0.058526               (whole wheat rice)       1
26  0.087188                   (burgers, nan)       2
27  0.081056                      (cake, nan)       2
28  0.059992                   (chicken, nan)       2
29  0.052660       (chocolate, mineral water)       2
30  0.163845                 (chocolate, nan)       2
31  0.080389                   (nan, cookies)       2
32  0.051060               (cooking oil, nan)       2
33  0.050927            (eggs, mineral water)       2
34  0.179709                      (nan, eggs)       2
35  0.079323                  (nan, escalope)       2
36  0.170911              (french fries, nan)       2
37  0.063192           (nan, frozen smoothie)       2
38  0.095321         (nan, frozen vegetables)       2
39  0.052393             (grated cheese, nan)       2
40  0.131982                 (nan, green tea)       2
41  0.098254               (ground beef, nan)       2
42  0.076390            (nan, low fat yogurt)       2
43  0.129583                      (nan, milk)       2
44  0.238235             (nan, mineral water)       2
45  0.059725       (spaghetti, mineral water)       2
46  0.065725                 (olive oil, nan)       2
47  0.095054                  (nan, pancakes)       2
48  0.071324                    (shrimp, nan)       2
49  0.050527                      (soup, nan)       2
50  0.174110                 (spaghetti, nan)       2
51  0.068391                  (nan, tomatoes)       2
52  0.062525                    (turkey, nan)       2
53  0.058526          (nan, whole wheat rice)       2
54  0.052660  (chocolate, nan, mineral water)       3
55  0.050927       (nan, mineral water, eggs)       3
56  0.059725  (spaghetti, nan, mineral water)       3

In [35]:
# getting th item sets with length = 2 and support more han 10%

frequent_itemsets[ (frequent_itemsets['length'] == 2) &
                   (frequent_itemsets['support'] >= 0.01) ]

     support                    itemsets  length
26  0.087188              (burgers, nan)       2
27  0.081056                 (cake, nan)       2
28  0.059992              (chicken, nan)       2
29  0.052660  (chocolate, mineral water)       2
30  0.163845            (chocolate, nan)       2
31  0.080389              (nan, cookies)       2
32  0.051060          (cooking oil, nan)       2
33  0.050927       (eggs, mineral water)       2
34  0.179709                 (nan, eggs)       2
35  0.079323             (nan, escalope)       2
36  0.170911         (french fries, nan)       2
37  0.063192      (nan, frozen smoothie)       2
38  0.095321    (nan, frozen vegetables)       2
39  0.052393        (grated cheese, nan)       2
40  0.131982            (nan, green tea)       2
41  0.098254          (ground beef, nan)       2
42  0.076390       (nan, low fat yogurt)       2
43  0.129583                 (nan, milk)       2
44  0.238235        (nan, mineral water)       2
45  0.059725  (spaghetti, mineral water)       2
46  0.065725            (olive oil, nan)       2
47  0.095054             (nan, pancakes)       2
48  0.071324               (shrimp, nan)       2
49  0.050527                 (soup, nan)       2
50  0.174110            (spaghetti, nan)       2
51  0.068391             (nan, tomatoes)       2
52  0.062525               (turkey, nan)       2
53  0.058526     (nan, whole wheat rice)       2

In [36]:
frequent_itemsets[ frequent_itemsets['itemsets'] == {'eggs', 'mineral water'} ]

     support               itemsets  length
33  0.050927  (eggs, mineral water)       2